---
layout: layouts/base.njk
---

{% block head %}
<link rel="stylesheet" href="/assets/css/issues.css">
{% endblock %}

<div class="docs-shell docs-shell--workspace" data-docs-shell>
  {% include "partials/docs-sidebar.njk" %}
  <div class="docs-workspace">
    {{ content | safe }}
  </div>
</div>

{% block scripts %}
<script type="module" src="{{ issueScript }}"></script>
{% endblock %}
