---
layout: layouts/docs-workspace.njk
title: "Deslop Issue Graph | Open-Issue Relationships"
description: "Explore Deslop's open GitHub issues as an interactive relationship graph."
permalink: /issues/
noTranslation: true
docsShell: true
docsGroup: trust
hideFooter: true
bodyClass: "is-issue-workspace is-issue-graph"
issueScript: /assets/js/issues/app.js
---

<div class="issue-atlas issue-atlas--graph" data-issue-atlas data-default-view="network">
  {% set issueDefaultView = "network" %}
  {% include "partials/issues-explorer.njk" %}
</div>
