---
layout: layouts/base.njk
title: "Deslop Issue Graph | Open-Issue Relationships"
description: "Explore Deslop's open GitHub issues as an interactive relationship graph."
permalink: /issues/
noTranslation: true
hideFooter: true
bodyClass: is-issue-graph
---

{% block head %}
<link rel="stylesheet" href="/assets/css/issues.css">
{% endblock %}

<div class="issue-atlas issue-atlas--graph" data-issue-atlas data-default-view="network" data-fixed-view>
  {% set issueDefaultView = "network" %}
  {% include "partials/issues-explorer.njk" %}
</div>

{% block scripts %}
<script type="module" src="/assets/js/issues/app.js"></script>
{% endblock %}
