.vscode/**
.vscode-test/**
.vscode-test*.mjs
.c8rc.json
coverage/**
coverage-thresholds.json
src/**
test/**
webview-ui/**
node_modules/**
out/**
scripts/**
**/*.ts
**/*.map
tsconfig.json
esbuild.mjs
.eslintrc*
eslint.config.js
*.vsix
--stdio/**
